<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>PokedexGo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>PokemonDispServlet</display-name>
    <servlet-name>PokemonDispServlet</servlet-name>
    <servlet-class>org.pokedexgo.com.PokemonDispServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PokemonDispServlet</servlet-name>
    <url-pattern>/PokemonDispServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>MovesetUpdateServlet</display-name>
    <servlet-name>MovesetUpdateServlet</servlet-name>
    <servlet-class>org.pokedexgo.com.MovesetUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovesetUpdateServlet</servlet-name>
    <url-pattern>/MovesetUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>TeamCounterServlet</display-name>
    <servlet-name>TeamCounterServlet</servlet-name>
    <servlet-class>org.pokedexgo.com.TeamCounterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeamCounterServlet</servlet-name>
    <url-pattern>/TeamCounterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>NicknameServlet</display-name>
    <servlet-name>NicknameServlet</servlet-name>
    <servlet-class>org.pokedexgo.com.NicknameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NicknameServlet</servlet-name>
    <url-pattern>/NicknameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>FindNicknameServlet</display-name>
    <servlet-name>FindNicknameServlet</servlet-name>
    <servlet-class>org.pokedexgo.com.FindNicknameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindNicknameServlet</servlet-name>
    <url-pattern>/FindNicknameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>saveTeam</display-name>
    <servlet-name>saveTeam</servlet-name>
    <servlet-class>org.pokedexgo.com.saveTeam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>saveTeam</servlet-name>
    <url-pattern>/saveTeam</url-pattern>
  </servlet-mapping>
</web-app>